.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    width: 100%;
    background-color: #6c1d5f;
    color: #ffffff;
}

.header .img {
    padding: 0;
}

.header .title {
    font-size: 16px;
    padding: 0;
    justify-content: center;
}

.header .user {
    font-size: 14px;
    padding: 0;
    justify-content: flex-end;
}